<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="17f7b4e2-0a27-4b2d-89ed-9fe9e1d7a6b2"
            Publisher="CN=masuda"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>DynamicMakeWritableBitmap</DisplayName>
    <PublisherDisplayName>masuda</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>DynamicMakeWritableBitmap</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="DynamicMakeWritableBitmap.App">
        <VisualElements
            DisplayName="DynamicMakeWritableBitmap"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="DynamicMakeWritableBitmap"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>