<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1a43e846-3551-4e6f-9967-7ca6b7773899" Publisher="CN=masuda" Version="1.0.0.2" />
  <Properties>
    <DisplayName>Metro WinPad</DisplayName>
    <PublisherDisplayName>masuda</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MetroWinPad.App">
      <VisualElements DisplayName="Metro WinPad" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Memo pad of Metro style" ForegroundText="light" BackgroundColor="#005c73">
        <DefaultTile ShowName="allLogos" ShortName="Metro WinPad" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>